{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %}My BLOGS{% endblock %}

{% block content %}
<!-- Display messages -->
{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if no_blogs_message %}
    <div class="alert alert-warning">{{ no_blogs_message }}</div>
{% else %}
    <!-- Display blogs -->
    <div class="row mb-5">
        {% for blog in blogs %}
            <div class="col-md-4 mb-4 ms-3" style="padding-top: 25px;"> <!-- Add left margin using Bootstrap's class -->
                <div class="card" style="width: 100%; height: 100%;">
                    <img src="{{ blog.blog_image.url }}" class="card-img-top" alt="Blog Image" style="object-fit: cover; height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ blog.title }}</strong></h5>
                        <p style="color: rgb(11, 11, 11);">{{ blog.content|slice:":250" }}{% if blog.content|length > 250 %}...{% endif %}</p>
                        <p class="card-text">
                            Created by {{ blog.author.get_full_name }} <br>
                            {{ blog.created_at|date:"d-m-y" }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <form method="post" action="{% url 'delmy_blogs' blog.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">Delete</button>
                            </form>
                            <form method="post" action="{% url 'view_mysingleblog' blog.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">View More</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
