{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %} Password Change Form  {% endblock %}


{% block content %}
<div class="container" style="max-width: 500px; color:black;margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); background-color: #f9f9f9;">
  <h1 class="text-center" style="margin-bottom: 30px;">Change Password</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
  </form>
</div>
{% endblock %}